Repository junit-team/junit-framework, pull requests merged in 2018-11, with the labels that each got.

#1661 Separate issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: status: in progress

#1659 Introduce LOCALE and TIME_ZONE constants in Resources
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/parallel/Resources.java
Labels: component: Jupiter, theme: execution, theme: programming model, type: enhancement

#1676 Adopt Contributor Covenant code of conduct
  CODE_OF_CONDUCT.md
Labels: status: in progress, type: task

#1664 Use realistic examples in User Guide
  documentation/src/test/java/example/AssertionsDemo.java
  documentation/src/test/java/example/AssumptionsDemo.java
  documentation/src/test/java/example/DynamicTestsDemo.java
  documentation/src/test/java/example/FirstJUnit5Tests.java
  documentation/src/test/java/example/HamcrestAssertionDemo.java
  documentation/src/test/java/example/ParameterizedTestDemo.java
  documentation/src/test/java/example/testinterface/TestInterfaceDemo.java
  documentation/src/test/java/example/testinterface/TestInterfaceDynamicTestsDemo.java
  documentation/src/test/java/example/util/Calculator.java
  documentation/src/test/java/example/util/StringUtils.java
Labels: component: Jupiter, component: Platform, component: Vintage, theme: documentation, type: enhancement
