Repository junit-team/junit-framework, pull requests merged in 2018-10, with the labels that each got.

#1613 Allow 0 as a delta in assertEquals methods
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-M1.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertionUtils.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertEqualsAssertionsTests.java
Labels: component: Jupiter, status: in progress, type: enhancement

#1633 Fix mixed content warning issued from documentation page
  documentation/src/docs/asciidoc/docinfos/index-docinfo.html
Labels: theme: web site, type: enhancement

#1625 Support converting integral types in hex and octal
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/ParameterizedTestDemo.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/DefaultArgumentConverter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/converter/DefaultArgumentConverterTests.java
Labels: component: Jupiter, status: in progress, theme: parameterized tests, type: enhancement

#1644 Expose selected modifier related methods from ReflectionUtils
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/ModifierSupport.java
  platform-tests/src/test/java/org/junit/platform/commons/support/ModifierSupportTests.java
Labels: component: Platform, theme: extensions, type: new feature

#1647 Set context class loader parallel execution mode
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-M1.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ForkJoinPoolHierarchicalTestExecutorService.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/ParallelExecutionIntegrationTests.java
Labels: component: Jupiter, status: in progress, theme: concurrency, type: bug
