Repository junit-team/junit-framework, pull requests merged in 2018-04, with the labels that each got.

#1357 Upgrade to Gradle 4.7-rc-1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  platform-tests/platform-tests.gradle
Labels: status: in progress

#1361 Briefly explain support in Ant build tool for JUnit 5 tests
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
Labels: component: Platform, theme: build, theme: documentation

#1373 Add link to RepetitionInfoParameterResolver in User Guide
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
Labels: status: in progress

#1388 Upgrade to JRuby 9.1.17.0
  documentation/documentation.gradle
Labels: theme: build, theme: documentation, type: task
