Repository junit-team/junit-framework, pull requests merged in 2018-06, with the labels that each got.

#1399 Add --fail-if-no-tests command line option to ConsoleLauncher
  documentation/src/docs/asciidoc/release-notes/release-notes-5.3.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/ConsoleLauncher.java
  junit-platform-console/src/main/java/org/junit/platform/console/ConsoleLauncherExecutionResult.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/CommandLineOptions.java
  platform-tests/src/test/java/org/junit/platform/console/ConsoleLauncherExecutionResultTests.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/ConsoleTestExecutorTests.java
Labels: component: Platform, theme: build, type: enhancement

#1451 Ensure discovered descriptor graphs are acyclic
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncher.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineDiscoveryResultValidator.java
  platform-tests/src/test/java/org/junit/platform/engine/support/descriptor/AbstractTestDescriptorTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/EngineDiscoveryResultValidatorTests.java
Labels: component: Platform, status: in progress, theme: discovery, type: enhancement

#1472 Add Japanese translation link to Translation sec
  documentation/src/docs/asciidoc/user-guide/overview.adoc
Labels: theme: documentation, type: enhancement

#1475 Use simple class name as display name in JUnit Vintage
  junit-platform-commons-java-9/junit-platform-commons-java-9.gradle
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/RunnerTestDescriptor.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/VintageLauncherIntegrationTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/VintageTestEngineDiscoveryTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/VintageTestEngineExecutionTests.java
Labels: component: Vintage, theme: reporting, type: enhancement
