Repository junit-team/junit-framework, pull requests merged in 2018-08, with the labels that each got.

#1512 Migrate to ClassGraph (formerly FastClasspathScanner) 4.0
  documentation/documentation.gradle
  documentation/src/test/java/org/junit/api/tools/ApiReportGenerator.java
Labels: theme: build, type: task

#1523 Introduce publishMessage(String) in TestReporter API
  documentation/src/docs/asciidoc/release-notes/release-notes-5.3.0-RC1.adoc
  documentation/src/test/java/example/TestReporterDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/TestReporter.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtensionContext.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/ReportingTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/ExtensionContextTests.java
  platform-tests/src/test/java/org/junit/platform/console/ConsoleDetailsTests.java
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-flat-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-flat-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-none-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-none-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-summary-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-summary-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-tree-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-tree-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-verbose-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportMultipleMessages-verbose-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-flat-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-flat-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-none-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-none-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-summary-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-summary-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-tree-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-tree-unicode.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-verbose-ascii.out.txt
  platform-tests/src/test/resources/console/details/report/Report-reportSingleMessage-verbose-unicode.out.txt
Labels: component: Jupiter, theme: extensions, theme: programming model, theme: reporting, type: enhancement

#1527 Clarified invocation of gradlew on Unix and Windows
  README.md
Labels: theme: documentation

#1497 Use Bartholdy tooling library
  platform-tooling-support-tests/platform-tooling-support-tests.gradle
  platform-tooling-support-tests/projects/jar-describe-module/junit-jupiter-api.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-jupiter-engine.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-jupiter-migrationsupport.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-jupiter-params.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-commons.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-console.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-engine.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-launcher.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-runner.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-suite-api.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-surefire-provider.expected.txt
  platform-tooling-support-tests/projects/jar-describe-module/junit-vintage-engine.expected.txt
  platform-tooling-support-tests/src/main/java/platform/tooling/support/Request.java
  platform-tooling-support-tests/src/main/java/platform/tooling/support/Result.java
  platform-tooling-support-tests/src/main/java/platform/tooling/support/Runner.java
  platform-tooling-support-tests/src/main/java/platform/tooling/support/Tool.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/AntStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleMissingEngineTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JarDescribeModuleTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MavenStarterTests.java
Labels: status: in progress, theme: build

#1269 Introduce LauncherConfig for configuring engines and listeners
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncherConfig.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherConfig.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherFactory.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherConfigBuilderTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherFactoryTests.java
Labels: component: Platform, type: enhancement

#1534 Document how to register extensions via static fields in Kotlin
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
  documentation/src/test/java/example/registration/WebServerDemo.java
  documentation/src/test/kotlin/example/registration/WebServerDemo.kt
Labels: component: Jupiter, component: Kotlin, status: in progress, theme: documentation, theme: extensions, theme: programming model

#1530 #1498 support @-files (parameter files) by migrating to picocli from jopt-simple
  build.gradle
  documentation/src/docs/asciidoc/release-notes/release-notes-5.3.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
  junit-platform-console/junit-platform-console.gradle
  junit-platform-console/src/main/java/org/junit/platform/console/ConsoleLauncher.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/DetailsConverter.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/KeyValuePairConverter.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/PicocliCommandLineOptionsParser.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/ThemeConverter.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/UriConverter.java
  platform-tests/src/test/java/org/junit/platform/console/ConsoleDetailsTests.java
  platform-tests/src/test/java/org/junit/platform/console/ConsoleLauncherWrapper.java
  platform-tests/src/test/java/org/junit/platform/console/options/JOptSimpleCommandLineOptionsParserTests.java
  platform-tests/src/test/java/org/junit/platform/console/options/PicocliCommandLineOptionsParserTests.java
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-console.expected.txt
Labels: status: in progress

#1533 Lifecycle.PER_CLASS ⇒ ExecutionMode.SAME_THREAD
  documentation/src/docs/asciidoc/release-notes/release-notes-5.3.0-RC1.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DynamicNodeTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/JupiterTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/MethodBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/NestedClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/DiscoverySelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/NestedTestsResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/TestContainerResolver.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/TestInstanceLifecycleExecutionModeTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/JupiterTestDescriptorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/TestDescriptorBuilder.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/ExtensionContextTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/JupiterEngineExecutionContextTests.java
  junit-platform-surefire-provider/src/test/java/org/junit/platform/surefire/provider/RunListenerAdapterTests.java
  junit-platform-surefire-provider/src/test/java/org/junit/platform/surefire/provider/TestMethodFilterTests.java
Labels: component: Jupiter, status: in progress, theme: concurrency, theme: execution, theme: programming model, type: bug

#1544 Add `jdeps`-based cycle checks
  platform-tooling-support-tests/platform-tooling-support-tests.gradle
  platform-tooling-support-tests/src/main/java/platform/tooling/support/Request.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JdepsTests.java
Labels: component: Platform, theme: build

#1570 Add TestInstanceFactory to ExtendWith doc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtendWith.java
Labels: component: Jupiter, status: in progress, theme: documentation

#1565 Emit warning when TestEngine ID starts with "junit-"
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncher.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherTests.java
Labels: component: Jupiter, component: Platform, component: Vintage, status: in progress

#1564 Add implicit argument converter for String to Class
  documentation/src/docs/asciidoc/release-notes/release-notes-5.3.0.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/DefaultArgumentConverter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/converter/DefaultArgumentConverterTests.java
Labels: component: Jupiter, status: team discussion, theme: parameterized tests, type: enhancement
