Repository junit-team/junit-framework, pull requests merged in 2019-11, with the labels that each got.

#2094 Support repeatable annotations for built-in conditions
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/AbstractRepeatableAnnotationCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariable.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariables.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfSystemProperties.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfSystemProperty.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfSystemPropertyCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariable.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariables.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfSystemProperties.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfSystemProperty.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfSystemPropertyCondition.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfSystemPropertyConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfSystemPropertyIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfSystemPropertyConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfSystemPropertyIntegrationTests.java
Labels: component: Jupiter, theme: extensions, theme: programming model, type: enhancement

#2095 Provide JARs with OSGi metadata
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/APIGuardianAnnotations.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/java-library-conventions.gradle.kts
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M2.adoc
  gradle.properties
  junit-jupiter-migrationsupport/junit-jupiter-migrationsupport.gradle.kts
  junit-platform-console-standalone/junit-platform-console-standalone.gradle.kts
  junit-platform-console/junit-platform-console.gradle.kts
  junit-platform-runner/junit-platform-runner.gradle.kts
  junit-platform-suite-api/junit-platform-suite-api.gradle.kts
  junit-vintage-engine/junit-vintage-engine.gradle.kts
  platform-tooling-support-tests/platform-tooling-support-tests.gradle.kts
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/ManifestTests.java
Labels: component: Jupiter, component: Platform, component: Vintage, theme: build, type: enhancement

#2065 Introduce TestInstancePreDestroyCallback as counterpart to TestInstancePostProcessor
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtendWith.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ParameterResolver.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/RegisterExtension.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/TestInstanceFactory.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/TestInstancePreDestroyCallback.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestMethodTestDescriptor.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/extension/KitchenSinkExtension.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/TestInstanceLifecycleTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TestInstancePostProcessorAndPreDestroyCallbackTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TestInstancePreDestroyCallbackTests.java
Labels: component: Jupiter, theme: extensions, type: enhancement

#2103 Enhance Javadoc of InvocationInterceptor wrt. class loading
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/InvocationInterceptor.java
Labels: component: Jupiter, theme: documentation, theme: extensions
