Repository junit-team/junit-framework, pull requests merged in 2019-06, with the labels that each got.

#1921 Extension lifecycle diagram source
  documentation/src/docs/asciidoc/user-guide/images/extensions_lifecycle_source.docx
Labels: component: Jupiter, theme: documentation

#1933 Introduce getOrDefault() in ExtensionContext.Store
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtensionContext.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/ExtensionContextStoreConcurrencyTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/ExtensionContextStoreTests.java
Labels: component: Jupiter, theme: extensions, theme: programming model, type: enhancement

#1931 Add more java.time types to implicit conversion
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/DefaultArgumentConverter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/converter/DefaultArgumentConverterTests.java
Labels: component: Jupiter, theme: parameterized tests, theme: programming model, type: enhancement
