Repository junit-team/junit-framework, pull requests merged in 2019-10, with the labels that each got.

#2012 Cache methods to improve performance of TestSource creation
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/LruCache.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/VintageTestEngine.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/TestSourceProvider.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/VintageEngineDescriptor.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/VintageTestDescriptor.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/discovery/RunnerTestDescriptorPostProcessor.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/discovery/VintageDiscoverer.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/RunListenerAdapter.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/RunnerExecutor.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/descriptor/TestSourceProviderTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/descriptor/VintageTestDescriptorTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/discovery/RunnerTestDescriptorPostProcessorTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/execution/TestRunTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/samples/junit4/AbstractJUnit4TestCase.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/samples/junit4/ConcreteJUnit4TestCase.java
  platform-tests/src/test/java/org/junit/platform/commons/util/LruCacheTests.java
Labels: component: Vintage, type: enhancement

#2032 Implement safer variant to ensure CDATA end markers result in valid XML
  junit-platform-reporting/src/main/java/org/junit/platform/reporting/legacy/xml/XmlReportWriter.java
  platform-tests/src/test/java/org/junit/platform/reporting/legacy/xml/XmlReportWriterTests.java
Labels: component: Platform, type: enhancement

#2045 Introduce API to select and execute individual tests in inherited nested classes
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M1.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassSelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/MethodSelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/NestedClassSelector.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/NestedMethodSelector.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/discovery/DiscoveryTests.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/DiscoverySelectors.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/NestedClassSelector.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/NestedMethodSelector.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/discovery/EngineDiscoveryRequestResolution.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/discovery/SelectorResolver.java
  platform-tests/src/test/java/org/junit/platform/engine/discovery/DiscoverySelectorsTests.java
  platform-tests/src/test/java/org/junit/platform/engine/discovery/NestedClassSelectorTests.java
  platform-tests/src/test/java/org/junit/platform/engine/discovery/NestedMethodSelectorTests.java
Labels: component: Platform, theme: discovery, type: enhancement

#2047 Remove read-only files under TempDir
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TempDirectoryTests.java
Labels: component: Jupiter, theme: extensions, type: enhancement

#2071 Revert build to use Java 11
  .github/workflows/main.yml
  README.md
  buildSrc/src/main/kotlin/JavaLibraryExtension.kt
  settings.gradle.kts
Labels: theme: build

#2060 Introduce discovery listeners and abort discovery on failures by default
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/launcher-api.adoc
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/discovery/DiscoverySelectorResolverTests.java
  junit-jupiter-engine/src/test/resources/log4j2-test.xml
  junit-platform-engine/src/main/java/org/junit/platform/engine/EngineDiscoveryListener.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/EngineDiscoveryRequest.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/SelectorResolutionResult.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/discovery/ClassContainerSelectorResolver.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/discovery/EngineDiscoveryRequestResolution.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/discovery/EngineDiscoveryRequestResolver.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/EngineDiscoveryResult.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherDiscoveryRequest.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultDiscoveryRequest.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncher.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherDiscoveryRequestBuilder.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/AbortOnFailureLauncherDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/CompositeLauncherDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/LauncherDiscoveryListeners.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/LoggingLauncherDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/package-info.java
  junit-platform-launcher/src/module/org.junit.platform.launcher/module-info.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/discovery/RunnerTestDescriptorPostProcessorTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/discovery/VintageDiscovererTests.java
  junit-vintage-engine/src/test/resources/log4j2-test.xml
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherDiscoveryRequestBuilderTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherFactoryForTestingPurposesOnly.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/StreamInterceptingTestExecutionListenerIntegrationTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/listeners/discovery/AbortOnFailureLauncherDiscoveryListenerTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/listeners/discovery/AbstractLauncherDiscoveryListenerTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/listeners/discovery/LoggingLauncherDiscoveryListenerTests.java
  platform-tests/src/test/resources/log4j2-test.xml
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-launcher.expected.txt
Labels: component: Platform, theme: diagnostics, theme: discovery, type: new feature

#2078 Improve documentation for writing tests and contional test execution
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
Labels: component: Jupiter, theme: documentation, type: enhancement

#2082 Make TestExecutionSummary.Failure serializable
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/MutableTestExecutionSummary.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/TestExecutionSummary.java
Labels: component: Platform, type: enhancement
