Repository junit-team/junit-framework, pull requests merged in 2019-04, with the labels that each got.

#1824 MethodOrderer.Random seed generation and handling improvements
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/MethodOrderer.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/OrderedMethodTests.java
Labels: component: Jupiter, theme: diagnostics, theme: ordering, theme: programming model, type: enhancement

#1839 Make emptyValue configurable in @CsvSource and @CsvFileSource
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileSource.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvSource.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvArgumentsProviderTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvFileArgumentsProviderTests.java
Labels: component: Jupiter, theme: parameterized tests, type: enhancement

#1852 Introduce InvocationInterceptor extension API
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
  documentation/src/test/java/example/interceptor/SwingEdtInterceptor.java
  gradle/testing.gradle.kts
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/InvocationInterceptor.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ReflectiveInvocationContext.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DynamicExtensionContext.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DynamicNodeTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DynamicTestTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/JupiterTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestMethodTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestTemplateInvocationTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/execution/ConstructorInvocation.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/execution/ExecutableInvoker.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/execution/InvocationInterceptorChain.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/execution/MethodInvocation.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/extension/KitchenSinkExtension.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/ExecutableInvokerTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/InvocationInterceptorTests.java
Labels: component: Jupiter, theme: extensions, type: new feature

#1861 Add assertLinesMatch overloads taking a custom message
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertLinesMatch.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertLinesMatchAssertionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JarDescribeModuleTests.java
Labels: component: Jupiter, theme: programming model, type: enhancement
