Repository junit-team/junit-framework, pull requests merged in 2019-09, with the labels that each got.

#1993 Auto-detect enum type from method signature
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/ParameterizedTestDemo.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/EnumArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/EnumSource.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/NullEnum.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/EnumArgumentsProviderTests.java
  platform-tests/src/test/java/org/junit/platform/console/options/PicocliCommandLineOptionsParserTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/DefaultParallelExecutionConfigurationStrategyTests.java
Labels: component: Jupiter, theme: parameterized tests, type: enhancement

#2008 Finish Azure Pipelines to GitHub Actions migration
  .github/workflows/experimental.yml
  .github/workflows/main.yml
  README.md
  azure-pipelines.yml
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleKotlinExtensionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleMissingEngineTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/VintageGradleIntegrationTests.java
Labels: theme: build

#2010 Run Gradle/Maven/Ant tests with Java 8
  platform-tooling-support-tests/platform-tooling-support-tests.gradle.kts
  platform-tooling-support-tests/projects/ant-starter/build.xml
  platform-tooling-support-tests/projects/gradle-starter/build.gradle.kts
  platform-tooling-support-tests/projects/maven-starter/pom.xml
  platform-tooling-support-tests/projects/vintage/pom.xml
  platform-tooling-support-tests/src/main/java/platform/tooling/support/Request.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/AntStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleKotlinExtensionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleMissingEngineTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JavaVersionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MavenStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MultiReleaseJarTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/VintageGradleIntegrationTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/VintageMavenIntegrationTests.java
Labels: theme: build

#2019 Fix link to LICENSE.md
  CONTRIBUTING.md
Labels: theme: documentation, type: task

#2024 Add missing 'not'
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
Labels: component: Jupiter, theme: documentation

#1883 Add null value attribute to CsvSource and CsvFileSource
  documentation/src/docs/asciidoc/release-notes/release-notes-5.6.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileSource.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvSource.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvArgumentsProviderTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvFileArgumentsProviderTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvFileSourceMock.java
Labels: component: Jupiter, theme: parameterized tests, type: enhancement

#2035 Remove fetch depth when cloning Git repo
  .github/workflows/experimental.yml
  .github/workflows/main.yml
Labels: theme: build, type: task
