Repository junit-team/junit-framework, pull requests merged in 2019-05, with the labels that each got.

#1828 Simplify using `Assertions.assertDoesNotThrow` from Kotlin
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  documentation/src/test/kotlin/example/KotlinAssertionsDemo.kt
  junit-jupiter-api/src/main/kotlin/org/junit/jupiter/api/Assertions.kt
  junit-jupiter-engine/src/test/kotlin/org/junit/jupiter/api/KotlinAssertionsTests.kt
Labels: component: Jupiter, component: Kotlin, theme: programming model, type: enhancement

#1874 Update the documentation to note the enhancement in Ant's junitlauncher task
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
Labels: component: Platform, theme: documentation

#1886 Remove parentheses when generating display name with ReplaceUnderscores
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/DisplayNameGenerator.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/DisplayNameGenerationTests.java
Labels: component: Jupiter, theme: extensions, type: enhancement

#1823 Introduce config parameter for default DisplayNameGenerator
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/Constants.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/CachingJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DefaultJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DisplayNameGeneratorParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/JupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DisplayNameUtils.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/MethodBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/NestedClassTestDescriptor.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/CachingJupiterConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/DefaultJupiterConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/DisplayNameGeneratorParameterConverterTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/CustomDisplayNameGenerator.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/DisplayNameUtilsTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/ExtensionContextTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/JupiterTestDescriptorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/TestTemplateInvocationTestDescriptorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/descriptor/TestTemplateTestDescriptorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/discovery/DiscoverySelectorResolverTests.java
Labels: component: Jupiter, theme: extensions, theme: reporting, type: enhancement

#1894 Add MethodSource.from(String, String, Class<?>...)
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/descriptor/MethodSource.java
  platform-tests/src/test/java/org/junit/platform/engine/support/descriptor/MethodSourceTests.java
Labels: component: Platform, theme: programming model, type: enhancement

#1889 Friendlier assertTimeout and assertTimeoutPreemptively from Kotlin
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M2.adoc
  documentation/src/test/kotlin/example/FibonacciCalculator.kt
  documentation/src/test/kotlin/example/KotlinAssertionsDemo.kt
  junit-jupiter-api/src/main/kotlin/org/junit/jupiter/api/Assertions.kt
  junit-jupiter-engine/src/test/kotlin/org/junit/jupiter/api/KotlinAssertTimeoutAssetionsTests.kt
Labels: component: Jupiter, component: Kotlin, theme: programming model

#1888 Deprecate "Script-based Conditions" for removal
  buildSrc/src/main/kotlin/java-library-conventions.gradle.kts
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIf.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIf.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/ExtensionRegistry.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/ScriptExecutionCondition.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/ScriptExecutionEvaluator.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/script/Script.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/script/ScriptAccessor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/script/ScriptExecutionManager.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/ScriptExecutionConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/ScriptExecutionEvaluatorTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/script/ScriptExecutionManagerTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/script/ScriptTests.java
  platform-tests/src/test/java/org/junit/jupiter/extensions/DisabledIfTests.java
  platform-tests/src/test/java/org/junit/jupiter/extensions/EnabledIfTests.java
Labels: component: Jupiter, theme: extensions, theme: programming model, type: task

#1885 Introduce declarative timeouts
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/TimeoutDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Timeout.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/Constants.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/JupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/ExtensionRegistry.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutDuration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutDurationParser.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutExtension.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutInvocation.java
  junit-jupiter-engine/src/module/org.junit.jupiter.engine/module-info.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/ExtensionRegistryTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutDurationParserTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutDurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutExtensionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutInvocationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/UninterruptibleInvocation.java
  platform-tooling-support-tests/platform-tooling-support-tests.gradle.kts
  platform-tooling-support-tests/projects/jar-describe-module/junit-jupiter-engine.expected.txt
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/ModularUserGuideTests.java
Labels: component: Jupiter, theme: execution, theme: extensions, theme: programming model, type: enhancement
