Repository junit-team/junit-framework, pull requests merged in 2019-03, with the labels that each got.

#1784 Add support for boolean to @ValueSource
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/ValueArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/ValueSource.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/ValueArgumentsProviderTests.java
Labels: component: Jupiter, status: reviewing, theme: parameterized tests, type: enhancement

#1783 Supply expected and actual values for failed boolean assertions for enhanced IDE support. Issue: #1781
  documentation/src/docs/asciidoc/release-notes/release-notes-5.5.0-M1.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertFalse.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertTrue.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertFalseAssertionsTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertTrueAssertionsTests.java
Labels: component: Jupiter, status: reviewing, type: enhancement

#1807 azure-pipelines: more complete port of travis conf
  azure-pipelines.yml
  src/azure/azure-gradle-step.yml
Labels: theme: build, type: enhancement

#1770 Add @API to modifier-related methods
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
Labels: type: task

#1820 Report intermediate containers finished lazily
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/EventType.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/RunListenerAdapter.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/TestRun.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/VintageTestEngineExecutionTests.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/samples/junit4/IgnoredParameterizedTestCase.java
Labels: component: Vintage, status: reviewing, theme: execution

#1837 Fix regression when creating human-readable test names
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestNameFormatter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/ParameterizedTestNameFormatterTests.java
  junit-jupiter-params/src/test/kotlin/org/junit/jupiter/params/aggregator/DisplayNameTests.kt
Labels: component: Jupiter, theme: parameterized tests, type: bug
