Repository junit-team/junit-framework, pull requests merged in 2019-01, with the labels that each got.

#1692 Use realistic examples in User Guide
  documentation/src/main/java/example/util/Calculator.java
  documentation/src/test/java/example/AssertionsDemo.java
  documentation/src/test/java/example/ParameterizedTestDemo.java
  documentation/src/test/java/example/SharedResourcesDemo.java
Labels: theme: documentation

#1719 Use fully-qualified class name as legacy reporting name for Vintage tests
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/VintageTestDescriptor.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/descriptor/VintageTestDescriptorTests.java
Labels: component: Vintage, status: team discussion, theme: reporting, type: bug

#1718 Introduce Launcher.execute(TestPlan)
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-RC1.adoc
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/Launcher.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/TestPlan.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncher.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/Root.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/UnmodifiableTestPlan.java
  junit-platform-runner/src/main/java/org/junit/platform/runner/JUnitPlatform.java
  junit-platform-runner/src/main/java/org/junit/platform/runner/JUnitPlatformTestTree.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherTests.java
Labels: component: Platform, status: in progress, theme: discovery, type: enhancement

#1726 Ensure TempDirectory can return a File
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/support/io/TempDirectory.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/support/io/TempDirectoryTests.java
Labels: component: Jupiter, theme: extensions, type: enhancement

#1734 Replace ISO control characters in display names
  documentation/src/docs/asciidoc/release-notes/release-notes-5.4.0-RC1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/StringUtils.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/TreeNode.java
  platform-tests/src/test/java/org/junit/platform/commons/util/StringUtilsTests.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/TreeNodeTests.java
Labels: component: Platform, status: reviewing, theme: reporting

#1741 Issues/1710 groovy assertions fixes
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java
  junit-jupiter-engine/junit-jupiter-engine.gradle.kts
  junit-jupiter-engine/src/test/groovy/org/junit/jupiter/api/GroovyAssertEqualsTests.groovy
  junit-jupiter-engine/src/test/groovy/org/junit/jupiter/api/GroovyAssertNotEqualsTests.groovy
  junit-jupiter-engine/src/test/groovy/org/junit/jupiter/api/PrimitiveAndWrapperTypeHelpers.groovy
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertEqualsAssertionsTests.java
Labels: component: Jupiter, status: reviewing, theme: programming model, type: bug
