Repository junit-team/junit-framework, pull requests merged in 2020-12, with the labels that each got.

#2495 Upgrade ArchUnit to 0.15.0
  gradle.properties
Labels: type: task

#2501 Report containers as JFR events
  build.gradle.kts
  dependencies/dependencies.gradle.kts
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  gradle.properties
  junit-platform-jfr/src/main/java/org/junit/platform/jfr/FlightRecordingListener.java
  platform-tests/platform-tests.gradle.kts
  platform-tests/src/test/java/org/junit/platform/jfr/FlightRecordingListenerIntegrationTests.java
Labels: component: Platform, theme: reporting

#2425 Support underscores for numeric in CSV sources
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  documentation/src/test/java/example/ParameterizedTestDemo.java
  documentation/src/test/resources/two-column.csv
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/DefaultArgumentConverter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/converter/DefaultArgumentConverterTests.java
Labels: component: Jupiter, theme: parameterized tests, type: enhancement

#2502 Add JFR events for test discovery
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  junit-platform-jfr/src/main/java/org/junit/platform/jfr/FlightRecordingDiscoveryListener.java
  junit-platform-jfr/src/main/java/org/junit/platform/jfr/FlightRecordingExecutionListener.java
  junit-platform-jfr/src/main/java/org/junit/platform/jfr/UniqueId.java
  junit-platform-jfr/src/main/resources/META-INF/services/org.junit.platform.launcher.LauncherDiscoveryListener
  junit-platform-jfr/src/main/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
  junit-platform-jfr/src/module/org.junit.platform.jfr/module-info.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DefaultLauncher.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineDiscoveryOrchestrator.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/CompositeLauncherDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/discovery/LoggingLauncherDiscoveryListener.java
  junit-platform-launcher/src/testFixtures/java/org/junit/platform/launcher/core/LauncherFactoryForTestingPurposesOnly.java
  junit-platform-testkit/src/main/java/org/junit/platform/testkit/engine/EngineTestKit.java
  platform-tests/src/test/java/org/junit/platform/jfr/FlightRecordingDiscoveryListenerIntegrationTests.java
  platform-tests/src/test/java/org/junit/platform/jfr/FlightRecordingExecutionListenerIntegrationTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherFactoryTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/listeners/discovery/LoggingLauncherDiscoveryListenerTests.java
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-jfr.expected.txt
Labels: theme: discovery, theme: reporting
