Repository junit-team/junit-framework, pull requests merged in 2020-04, with the labels that each got.

#2230 Publish to standalone file repo instead of mavenLocal()
  build.gradle.kts
  buildSrc/src/main/kotlin/publishing-conventions.gradle.kts
  platform-tooling-support-tests/platform-tooling-support-tests.gradle.kts
  platform-tooling-support-tests/projects/gradle-kotlin-extensions/build.gradle.kts
  platform-tooling-support-tests/projects/gradle-missing-engine/build.gradle.kts
  platform-tooling-support-tests/projects/gradle-starter/build.gradle.kts
  platform-tooling-support-tests/projects/java-versions/pom.xml
  platform-tooling-support-tests/projects/maven-starter/pom.xml
  platform-tooling-support-tests/projects/multi-release-jar/default/pom.xml
  platform-tooling-support-tests/projects/vintage/build.gradle.kts
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleKotlinExtensionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleMissingEngineTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/GradleStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JavaVersionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MavenStarterTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MultiReleaseJarTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/VintageGradleIntegrationTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/VintageMavenIntegrationTests.java
Labels: theme: build

#2217 Make JAR builds reproducible
  .github/workflows/reproducible-build.yml
  .gitignore
  build.gradle.kts
  buildSrc/src/main/kotlin/java-repackage-jars.gradle.kts
  documentation/src/docs/asciidoc/user-guide/appendix.adoc
  junit-platform-commons/junit-platform-commons.gradle.kts
  junit-platform-console/junit-platform-console.gradle.kts
  src/checkBuildReproducibility.sh
Labels: theme: build, type: enhancement

#2241 GitHub issue links in IDEA Git log
  .gitignore
  .idea/vcs.xml
Labels: status: team discussion, type: enhancement

#2240 Add icon for JetBrains Toolbox
  .gitignore
  .idea/icon.png
Labels: status: team discussion, type: enhancement
