Repository junit-team/junit-framework, pull requests merged in 2020-07, with the labels that each got.

#2316 Always call pre-destroy callbacks if instance was created
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/NestedClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestMethodTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/execution/TestInstancesProvider.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TestInstancePostProcessorAndPreDestroyCallbackTests.java
Labels: component: Jupiter, theme: execution, theme: extensions, type: bug

#2336 Introduce MethodName orderer to replace deprecated Alphanumeric
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/MethodOrderer.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/TestMethodOrder.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/OrderedMethodTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/ParallelExecutionIntegrationTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/SameThreadExecutionIntegrationTests.java
Labels: component: Jupiter, theme: programming model, type: task

#2347 Describe deprecation in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: theme: documentation

#2356 Update mockito version to 3.4.2
  gradle.properties
Labels: theme: build, type: task

#2333 Add examples to Javadoc section in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: theme: documentation, type: task

#2274 Add platform configuration parameter for test MethodOrderer
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/Constants.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/CachingJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DefaultJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DisplayNameGeneratorParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/InstantiatingConfigurationParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/JupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/MethodOrderingVisitor.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/CachingJupiterConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/DefaultJupiterConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/InstantiatingConfigurationParameterConverterTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/OrderedMethodTests.java
Labels: component: Jupiter, theme: ordering, type: enhancement
