Repository junit-team/junit-framework, pull requests merged in 2020-08, with the labels that each got.

#2346 Introduce `TypedArgumentConverter` as a more specific `ArgumentConverter`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/ParameterizedTestDemo.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/SimpleArgumentConverter.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/converter/TypedArgumentConverter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/converter/TypedArgumentConverterTest.java
Labels: component: Jupiter, theme: programming model, type: enhancement

#2371 Truncate arguments in display name if they exceed max length
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtensionContext.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/CachingJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DefaultJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/JupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/AbstractExtensionContext.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestExtension.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestNameFormatter.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/ParameterizedTestExtensionTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/ParameterizedTestIntegrationTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/ParameterizedTestNameFormatterTests.java
Labels: component: Jupiter, theme: parameterized tests, theme: reporting, type: enhancement

#2365 Use specific name prefix in preemptive timeout threads
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertTimeout.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertTimeoutAssertionsTests.java
Labels: component: Jupiter, type: enhancement

#2366 Make ForkJoinPoolHierarchicalTestExecutorService easier to use
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ForkJoinPoolHierarchicalTestExecutorService.java
Labels: component: Platform, type: enhancement

#2373 Document composed extension annotations
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
Labels: component: Jupiter, theme: documentation, theme: extensions

#2342 Add maxCharsPerColumn attribute to @CsvFileSource and @CsvSource
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileSource.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvParserFactory.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvSource.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvArgumentsProviderTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvFileArgumentsProviderTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/MockCsvAnnotationBuilder.java
  junit-jupiter-params/src/test/resources/default-max-chars.csv
  junit-jupiter-params/src/test/resources/exceeds-default-max-chars.csv
Labels: component: Jupiter, theme: parameterized tests, type: enhancement

#2383 Add tests for whitespace within CsvSource columns
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvSource.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvArgumentsProviderTests.java
Labels: component: Jupiter, theme: documentation, theme: parameterized tests
