Repository junit-team/junit-framework, pull requests merged in 2020-05, with the labels that each got.

#2270 Execute explicitly selected classes regardless of class name filters
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/DiscoveryRequestCreator.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/DiscoveryRequestCreatorTests.java
Labels: component: Platform, type: enhancement

#2276 Support custom reason in @Disabled* / @Enabled* variants
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/BooleanExecutionCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledForJreRange.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledForJreRangeCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIf.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariable.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfSystemProperty.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfSystemPropertyCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledOnJre.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledOnJreCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledOnOs.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledOnOsCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledForJreRange.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledForJreRangeCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIf.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariable.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfSystemProperty.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfSystemPropertyCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledOnJre.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledOnJreCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledOnOs.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledOnOsCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/MethodBasedCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ConditionEvaluationResult.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/AbstractExecutionConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledForJreRangeConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledForJreRangeIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfSystemPropertyConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledIfSystemPropertyIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnJreConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnJreIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnOsConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnOsIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledForJreRangeConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledForJreRangeIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfSystemPropertyConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledIfSystemPropertyIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnJreConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnJreIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnOsConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnOsIntegrationTests.java
Labels: component: Jupiter, theme: programming model, type: enhancement

#2291 Introduce Stream<String> variants of assertLinesMatch methods
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertLinesMatch.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertLinesMatchAssertionsTests.java
Labels: component: Jupiter, type: enhancement

#2292 Add support for local files to CsvFileSource
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/ParameterizedTestDemo.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileSource.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvFileArgumentsProviderTests.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/MockCsvAnnotationBuilder.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/ModularUserGuideTests.java
Labels: component: Jupiter, theme: parameterized tests, type: enhancement
