Repository junit-team/junit-framework, pull requests merged in 2020-06, with the labels that each got.

#2293 Ignore implicit config params in EngineTestKit by default
  documentation/src/docs/asciidoc/release-notes/release-notes-5.7.0-M2.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ToStringBuilder.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherConfigurationParameters.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherDiscoveryRequestBuilder.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherFactory.java
  junit-platform-launcher/src/testFixtures/java/org/junit/platform/launcher/core/ConfigurationParametersFactoryForTests.java
  junit-platform-testkit/src/main/java/org/junit/platform/testkit/engine/EngineTestKit.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherConfigurationParametersTests.java
  platform-tests/src/test/java/org/junit/platform/testkit/engine/EngineTestKitTests.java
Labels: component: Test Kit, type: enhancement

#2314 Give PDF user guide a better name
  documentation/documentation.gradle.kts
  documentation/src/docs/asciidoc/user-guide/index.adoc
  documentation/src/docs/asciidoc/user-guide/overview.adoc
Labels: theme: documentation, type: task

#2324 Fix broken Preconditions link in PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: theme: documentation
