Repository junit-team/junit-framework, pull requests merged in 2021-02, with the labels that each got.

#2548 Support named sources for DynamicTest.stream(…)
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  documentation/src/test/java/example/DynamicTestsDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/DynamicTest.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/DynamicTestTests.java
Labels: component: Jupiter, theme: dynamic tests, theme: programming model, type: enhancement

#2549 Make SummaryGeneratingListener thread-safe
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  junit-jupiter-engine/junit-jupiter-engine.gradle.kts
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/execution/ExtensionValuesStoreTests.java
  junit-platform-commons/junit-platform-commons.gradle.kts
  junit-platform-commons/src/testFixtures/java/org/junit/platform/commons/test/ConcurrencyTestingUtils.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/listeners/MutableTestExecutionSummary.java
  platform-tests/platform-tests.gradle.kts
  platform-tests/src/test/java/org/junit/platform/launcher/listeners/SummaryGenerationTests.java
Labels: component: Platform, theme: reporting, type: bug

#2554 Improve Javadoc for Assumptions.assumingThat
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assumptions.java
Labels: component: Jupiter, theme: documentation
