Repository junit-team/junit-framework, pull requests merged in 2021-01, with the labels that each got.

#2522 Remove spurious usage of the word simply
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
  documentation/src/test/java/example/testkit/EngineTestKitAllEventsDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertLinesMatch.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariableCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledIfEnvironmentVariableCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/InvocationInterceptor.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TestInstanceFactoryTests.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/AnnotationSupport.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/TestDescriptor.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/TestEngine.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/MethodSelector.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/discovery/SelectorResolver.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/TestIdentifier.java
  junit-platform-runner/src/main/java/org/junit/platform/runner/JUnitPlatform.java
Labels: component: Jupiter, component: Platform, theme: documentation

#2528 Allow rows in @CsvSource to start with a number sign (#)
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvParserFactory.java
  junit-jupiter-params/src/test/java/org/junit/jupiter/params/provider/CsvArgumentsProviderTests.java
Labels: component: Jupiter, status: team discussion, theme: parameterized tests, type: enhancement

#2531 Fix package path computation in ClasspathScanner
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClasspathScanner.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ClasspathScannerTests.java
  platform-tests/src/test/resources/com.greetings@1-ea.jar
  platform-tests/src/test/resources/modules-2500/foo.bar/FooBar.java
  platform-tests/src/test/resources/modules-2500/foo.bar/module-info.java
  platform-tests/src/test/resources/modules-2500/foo/Foo.java
  platform-tests/src/test/resources/modules-2500/foo/module-info.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JavacModulesTests.java
Labels: component: Platform, theme: discovery, type: bug
