Repository junit-team/junit-framework, pull requests merged in 2021-06, with the labels that each got.

#2646 Fix enclosing class bug in `IndicativeSentences`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/DisplayNameGenerator.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/IndicativeSentencesGeneration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DisplayNameUtils.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/DisplayNameGenerationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/IndicativeSentencesNestedTestCase.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/IndicativeSentencesTopLevelTestCase.java
Labels: component: Jupiter, theme: extensions, type: bug

#2644 Optionally import org.apiguardian.api in OSGi metadata
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/osgi-conventions.gradle.kts
  junit-jupiter-migrationsupport/junit-jupiter-migrationsupport.gradle.kts
  junit-platform-console-standalone/junit-platform-console-standalone.gradle.kts
  junit-platform-runner/junit-platform-runner.gradle.kts
  junit-vintage-engine/junit-vintage-engine.gradle.kts
Labels: component: Jupiter, component: Platform, component: Vintage, type: enhancement

#2643 Add `assertThrowsExactly` assertion method
  documentation/src/docs/asciidoc/release-notes/release-notes-5.8.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertThrowsExactly.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assertions.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertThrowsExactlyAssertionsTests.java
Labels: component: Jupiter, theme: programming model, type: enhancement
