Repository junit-team/junit-framework, pull requests merged in 2022-07, with the labels that each got.

#2894 Added support for `architectures` parameter in @EnabledOnOs and @DisabledOnOs
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/ConditionalTestExecutionDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/AbstractOsBasedExecutionCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledOnOs.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/DisabledOnOsCondition.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledOnOs.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/EnabledOnOsCondition.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnOsConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnOsIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnOsConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnOsIntegrationTests.java
Labels: type: enhancement, theme: extensions, theme: programming model, component: Jupiter

#2913 Add "abort" methods to Assumptions
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-RC1.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assumptions.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssumptionsTests.java
Labels: theme: programming model, component: Jupiter, type: new feature

#2959 Fix broken Javadoc link in DisplayNameGenerator
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/DisplayNameGenerator.java
Labels: theme: documentation, component: Jupiter

#2972 Introduce AssertionFailureBuilder
  documentation/src/docs/asciidoc/release-notes/index.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertArrayEquals.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertDoesNotThrow.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertEquals.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertFalse.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertInstanceOf.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertIterableEquals.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertLinesMatch.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertNotEquals.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertNotNull.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertNotSame.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertNull.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertSame.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertThrows.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertThrowsExactly.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertTimeout.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertTrue.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertionFailureBuilder.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertionUtils.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertInstanceOfAssertionsTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertThrowsAssertionsTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertThrowsExactlyAssertionsTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertionTestUtils.java
Labels: theme: extensions, theme: programming model, component: Jupiter, type: new feature

#2973 Improve debug mode detection in JUnit Jupiter
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/RuntimeUtils.java
Labels: type: enhancement, status: in progress, component: Jupiter
