Repository junit-team/junit-framework, pull requests merged in 2022-06, with the labels that each got.

#2943 Add a public factory method to instantiate ExecutionRequest
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M2.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/ExecutionRequest.java
Labels: type: enhancement, component: Platform

#2916 Track already visited pairs of Iterables to avoid stack overflow
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertIterableEquals.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/AssertIterableEqualsAssertionsTests.java
Labels: type: bug, theme: programming model, component: Jupiter

#2949 Add thread mode to @Timeout
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/TimeoutDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Timeout.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/Constants.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/SameThreadTimeoutInvocation.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/SeparateThreadTimeoutInvocation.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutDuration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutExceptionFactory.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutExtension.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutInvocationFactory.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/SameThreadTimeoutInvocationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/SeparateThreadTimeoutInvocationTest.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutExceptionFactoryTest.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutExtensionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TimeoutInvocationFactoryTest.java
Labels: type: enhancement, theme: programming model, component: Jupiter
