Repository junit-team/junit-framework, pull requests merged in 2022-04, with the labels that each got.

#2478 Feature/color customization (console launcher)
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M1.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/CommandLineOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/ColorPalette.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/ConsoleTestExecutor.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/FlatPrintingListener.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/Style.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/TreePrinter.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/TreePrintingListener.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/VerboseTreePrintingListener.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/ColorPaletteTest.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/FlatPrintingListenerTests.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/TreePrinterTests.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/VerboseTreeListenerTests.java
Labels: type: enhancement, component: Platform

#2792 Allow specifying ForkJoinPool saturate predicate
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M1.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ForkJoinPoolHierarchicalTestExecutorService.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ParallelExecutionConfiguration.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/DefaultParallelExecutionConfigurationStrategyTests.java
Labels: type: enhancement, component: Platform

#2882 Use user's console charset, if available
  .github/workflows/codeql-analysis.yml
  buildSrc/src/main/kotlin/java-multi-release-sources.gradle.kts
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M1.adoc
  junit-platform-console/junit-platform-console.gradle.kts
  junit-platform-console/src/main/java/org/junit/platform/console/options/CommandLineOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/ConsoleUtils.java
  junit-platform-console/src/main/java17/org/junit/platform/console/options/ConsoleUtils.java
  platform-tests/src/test/java/org/junit/platform/console/options/ConsoleUtilsTests.java
  src/checkstyle/suppressions.xml
Labels: type: enhancement, component: Platform

#2892 Set merge strategy to `union` for release note files
  .gitattributes
Labels: status: team discussion

#2895 Enable Predictive Test Selection for local and PR builds
  .github/actions/run-gradle/action.yml
  buildSrc/src/main/kotlin/testing-conventions.gradle.kts
  platform-tooling-support-tests/platform-tooling-support-tests.gradle.kts
Labels: theme: build

#2856 List available test engines
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M1.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/ConsoleLauncher.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/AvailableOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/CommandLineOptions.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/StandaloneTests.java
Labels: component: Platform, type: new feature

#2844 Help diagnose EngineFilter misconfiguration
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.0-M1.adoc
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/EngineFilter.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineDiscoveryOrchestrator.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineFilterer.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/ServiceLoaderTestEngineRegistry.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/TestEngineFormatter.java
  junit-platform-testkit/src/main/java/org/junit/platform/testkit/engine/EngineTestKit.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherEngineFilterTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherTests.java
  platform-tooling-support-tests/projects/standalone/expected-err.txt
Labels: type: enhancement, component: Platform, theme: discovery
