Repository junit-team/junit-framework, pull requests merged in 2023-04, with the labels that each got.

#3219 Document `@MethodSource` as use case for `@TestInstance` per-class lifecycle
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/TestInstance.java
Labels: theme: programming model, theme: documentation, component: Jupiter, theme: parameterized tests

#2958 Add factory SPI for `@TempDir`
  documentation/documentation.gradle.kts
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.10.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/TempDirCleanupModeDemo.java
  documentation/src/test/java/example/TempDirectoryDemo.java
  gradle/libs.versions.toml
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/io/TempDir.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/io/TempDirFactory.java
  junit-jupiter-engine/junit-jupiter-engine.gradle.kts
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/CloseablePathCleanupTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TempDirectoryPerContextTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TempDirectoryPerDeclarationTests.java
Labels: type: enhancement, theme: programming model, component: Jupiter

#3165 Introduce dry-run execution mode
  documentation/src/docs/asciidoc/release-notes/release-notes-5.10.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/advanced-topics/launcher-api.adoc
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherConstants.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineExecutionOrchestrator.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DefaultLauncherTests.java
Labels: theme: execution, component: Platform, theme: discovery, type: new feature
