Repository junit-team/junit-framework, pull requests merged in 2023-01, with the labels that each got.

#3119 Add JRE.JAVA_21
  .github/workflows/cross-version.yml
  documentation/src/docs/asciidoc/release-notes/release-notes-5.9.2.adoc
  gradle.properties
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/condition/JRE.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledForJreRangeConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledForJreRangeIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnJreConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/DisabledOnJreIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledForJreRangeConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledForJreRangeIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnJreConditionTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/EnabledOnJreIntegrationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/api/condition/JRETests.java
Labels: type: enhancement, theme: programming model, status: in progress, component: Jupiter

#3118 Document minimum requirements for test engines
  documentation/src/docs/asciidoc/user-guide/advanced-topics/engines.adoc
Labels: status: in progress, theme: documentation, component: Platform

#3092 Document how `TestExecutionListener` are called
  documentation/src/docs/asciidoc/user-guide/advanced-topics/launcher-api.adoc
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/TestExecutionListener.java
Labels: theme: extensions, theme: reporting, theme: documentation, component: Platform
