Repository junit-team/junit-framework, pull requests merged in 2023-05, with the labels that each got.

#3275 Add `junit.jupiter.tempdir.factory.default` configuration property
  documentation/src/docs/asciidoc/release-notes/release-notes-5.10.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/io/TempDir.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/io/TempDirFactory.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/Constants.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/CachingJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DefaultJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/InstantiatingConfigurationParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/JupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/CachingJupiterConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/config/DefaultJupiterConfigurationTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/CloseablePathCleanupTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TempDirectoryPerContextTests.java
  junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/TempDirectoryPerDeclarationTests.java
Labels: type: enhancement, theme: programming model, component: Jupiter

#3286 Add missing space in user guide
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
Labels: theme: documentation

#3277 Prune stack traces produced by failing tests
  documentation/src/docs/asciidoc/release-notes/release-notes-5.10.0-M1.adoc
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
  gradle/plugins/common/src/main/kotlin/junitbuild.testing-conventions.gradle.kts
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClassNamePatternFilterUtils.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ExceptionUtils.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/LauncherConstants.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineExecutionOrchestrator.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/StackTracePruningEngineExecutionListener.java
  platform-tests/src/test/java/org/junit/platform/StackTracePruningTests.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ClassNamePatternFilterUtilsTests.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ExceptionUtilsTests.java
Labels: type: enhancement, component: Platform, theme: diagnostics

#2107 Add `selectClass()`/`selectMethod()` variants in `DiscoverySelectors` that take a `ClassLoader`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.10.0-M1.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/ClassSelector.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/DiscoverySelectors.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/discovery/MethodSelector.java
  platform-tests/src/test/java/org/junit/platform/engine/discovery/ClassSelectorTests.java
  platform-tests/src/test/java/org/junit/platform/engine/discovery/DiscoverySelectorsTests.java
  platform-tests/src/test/java/org/junit/platform/engine/discovery/MethodSelectorTests.java
Labels: type: enhancement, component: Jupiter, component: Platform, component: Vintage, theme: discovery
