Repository junit-team/junit-framework, pull requests merged in 2024-10, with the labels that each got.

#4049 Support `void` and `Void` class lookups in `ReflectionUtils`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.12.0-M1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  jupiter-tests/src/test/java/org/junit/jupiter/params/converter/DefaultArgumentConverterTests.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ReflectionUtilsTests.java
Labels: type: enhancement, theme: extensions, component: Jupiter, component: Platform, theme: parameterized tests

#3169 Introduce method filter support in the ConsoleLauncher
  documentation/src/docs/asciidoc/release-notes/release-notes-5.12.0-M1.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/options/TestDiscoveryOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/TestDiscoveryOptionsMixin.java
  junit-platform-console/src/main/java/org/junit/platform/console/tasks/DiscoveryRequestCreator.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/AbstractMethodFilter.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/ExcludeMethodFilter.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/IncludeMethodFilter.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/MethodFilter.java
  platform-tests/src/test/java/org/junit/platform/console/ConsoleLauncherIntegrationTests.java
  platform-tests/src/test/java/org/junit/platform/console/options/CommandLineOptionsParsingTests.java
  platform-tests/src/test/java/org/junit/platform/console/tasks/DiscoveryRequestCreatorTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/MethodFilterTests.java
Labels: component: Platform, type: new feature

#4082 Allow repeating `ExtendWith` annotation on fields and parameters
  documentation/src/docs/asciidoc/release-notes/release-notes-5.11.3.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/Extensions.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/ExtensionRegistrationViaParametersAndFieldsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/ArchUnitTests.java
Labels: type: bug, theme: extensions, component: Jupiter

#4085 Document that assertions and exceptions take precedence over assumptions
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/Assumptions.java
Labels: theme: programming model, theme: documentation, component: Jupiter

#4044 Add support for passing line and column number to ConsoleLauncher via `--select-file` and `--select-resource`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.12.0-M1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ResourceUtils.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/SelectorConverter.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/TestDiscoveryOptionsMixin.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/descriptor/ClasspathResourceSource.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/descriptor/UriSource.java
  platform-tests/src/test/java/org/junit/platform/console/options/CommandLineOptionsParsingTests.java
Labels: component: Platform, theme: discovery

#4093 Add `--select-unique-id` support to ConsoleLauncher
  documentation/src/docs/asciidoc/release-notes/release-notes-5.12.0-M1.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/options/SelectorConverter.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/TestDiscoveryOptions.java
  junit-platform-console/src/main/java/org/junit/platform/console/options/TestDiscoveryOptionsMixin.java
  platform-tests/src/test/java/org/junit/platform/console/options/CommandLineOptionsParsingTests.java
Labels: component: Platform, theme: discovery
