Repository junit-team/junit-framework, pull requests merged in 2024-09, with the labels that each got.

#3936 Fix potential double acquisition in `SingleLock`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.11.1.adoc
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/CompositeLock.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/SingleLock.java
Labels: type: bug, theme: concurrency

#3948 Fix `NO_COLOR` support
  documentation/src/docs/asciidoc/release-notes/release-notes-5.12.0-M1.adoc
  junit-platform-console/src/main/java/org/junit/platform/console/options/AnsiColorOptionMixin.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/StandaloneTests.java
Labels: type: enhancement, theme: execution, component: Platform

#3981 Fix deadlock in `ForkJoinPoolHierarchicalTestExecutorService`
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/CompositeLock.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ForkJoinPoolHierarchicalTestExecutorService.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/LockManager.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/NodeTestTask.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/ResourceLock.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/SingleLock.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/ForkJoinDeadLockTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/ForkJoinPoolHierarchicalTestExecutorServiceTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/LockManagerTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/hierarchical/ResourceLockTests.java
Labels: type: bug, theme: concurrency, component: Platform

#3938 Document benefits of `messageSupplier` in `Assertions`
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  documentation/src/test/java/example/AssertionsDemo.java
Labels: theme: documentation, component: Jupiter

#4005 Switch to Temurin for JDK 23
  .github/workflows/cross-version.yml
Labels: type: task
