Repository junit-team/junit-framework, pull requests merged in 2024-04, with the labels that each got.

#3753 Disable Log4J JMX beans creation in tests to avoid overhead
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
  gradle/plugins/common/src/main/kotlin/junitbuild.testing-conventions.gradle.kts
Labels: type: task, theme: build

#3668 Add separate `dependency-submission` workflow for GitHub actions
  .github/actions/main-build/action.yml
  .github/actions/run-gradle/action.yml
  .github/workflows/gradle-dependency-submission.yml
  .github/workflows/main.yml
Labels: theme: build, status: new

#3667 Ignore `NoSuchFileException` in `TempDir` cleanup
  documentation/src/docs/asciidoc/release-notes/release-notes-5.11.0-M1.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java
Labels: type: enhancement, component: Jupiter
