Repository junit-team/junit-framework, pull requests merged in 2024-07, with the labels that each got.

#3492 Add Kotlin friendly `assertInstanceOf` assertions
  documentation/src/docs/asciidoc/release-notes/release-notes-5.11.0-M3.adoc
  gradle/plugins/common/src/main/kotlin/junitbuild.kotlin-library-conventions.gradle.kts
  junit-jupiter-api/src/main/kotlin/org/junit/jupiter/api/Assertions.kt
  junit-jupiter-engine/src/test/kotlin/org/junit/jupiter/api/KotlinAssertionsTests.kt
Labels: type: enhancement, theme: programming model, component: Jupiter, component: Kotlin

#3840 Document how to use `CloseableResource`
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
  documentation/src/test/java/example/HttpServerDemo.java
  documentation/src/test/java/example/extensions/HttpServerExtension.java
  documentation/src/test/java/example/extensions/HttpServerResource.java
Labels: theme: extensions, theme: documentation, component: Jupiter

#3705 Support scanning for classpath resources
  documentation/src/docs/asciidoc/release-notes/release-notes-5.11.0-RC1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/ReflectionSupport.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/Resource.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClasspathFileVisitor.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClasspathFilters.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClasspathResource.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ClasspathScanner.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ModuleUtils.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  junit-platform-commons/src/main/java9/org/junit/platform/commons/util/ModuleUtils.java
  platform-tests/src/test/java/org/junit/platform/commons/support/ReflectionSupportTests.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ClasspathScannerTests.java
  platform-tests/src/test/resources/default-package.resource
  platform-tests/src/test/resources/folder with spaces/jar test with spaces.jar
  platform-tests/src/test/resources/jartest-shadowed.jar
  platform-tests/src/test/resources/jartest.jar
  platform-tests/src/test/resources/org/junit/platform/commons/example.resource
  platform-tests/src/test/resources/org/junit/platform/commons/other-example.resource
Labels: theme: extensions, component: Platform, type: new feature
