Repository junit-team/junit-framework, pull requests merged in 2025-01, with the labels that each got.

#4244 Check for classpath alignment on LinkageErrors
  documentation/src/docs/asciidoc/user-guide/appendix.adoc
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/ClasspathAlignmentChecker.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/ClasspathAlignmentCheckingLauncherInterceptor.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineDiscoveryOrchestrator.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/EngineExecutionOrchestrator.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherFactory.java
  platform-tests/platform-tests.gradle.kts
  platform-tests/src/test/java/org/junit/platform/launcher/core/ClasspathAlignmentCheckerTests.java
  platform-tooling-support-tests/projects/maven-starter/pom.xml
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/JavaVersionsTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MavenEnvVars.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/MultiReleaseJarTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/UnalignedClasspathTests.java
Labels: component: Jupiter, component: Platform, component: Vintage, theme: diagnostics

#4243 Document that `AnnotationSupport.isAnnotated()` does not find repeatable annotations
  documentation/src/docs/asciidoc/user-guide/extensions.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/AnnotatedElementContext.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/AnnotationSupport.java
Labels: theme: extensions, theme: documentation, component: Jupiter, component: Platform

#4250 Remove custom array handling already covered by `Class.forName()`
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
Labels: type: enhancement, component: Platform

#4266 Pass enclosing instance types to DisplayNameGenerators
  documentation/src/docs/asciidoc/release-notes/release-notes-5.12.0-M1.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/DisplayNameGenerator.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/DisplayNameUtils.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/MethodBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/NestedClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestMethodTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/TestTemplateTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassSelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/MethodSelectorResolver.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/DisplayNameGenerationTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/IndicativeSentencesRuntimeEnclosingTypeScenarioOneTestCase.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/IndicativeSentencesRuntimeEnclosingTypeScenarioTwoTestCase.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/IndicativeSentencesRuntimeEnclosingTypeTestCase.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/parallel/ResourceLockAnnotationTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/CustomDisplayNameGenerator.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/DisplayNameUtilsTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/ExtensionContextTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/JupiterTestDescriptorTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/TestFactoryTestDescriptorTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/TestTemplateInvocationTestDescriptorTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/TestTemplateTestDescriptorTests.java
Labels: type: bug, theme: extensions, component: Jupiter

#4267 Provide runtime enclosing instance types to ResourceLocksProviders
  documentation/src/test/java/example/sharedresources/DynamicSharedResourcesDemo.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/parallel/ResourceLocksProvider.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/MethodBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/NestedClassTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ResourceLockAware.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/parallel/ResourceLockAnnotationTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/parallel/ResourceLocksProviderTests.java
Labels: theme: extensions, type: task, component: Jupiter

#4279 Support `@TempDir` constructor injection for Java record classes
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/TempDirectoryPerDeclarationTests.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ReflectionUtilsTests.java
Labels: type: enhancement, theme: extensions, component: Jupiter

#4280 Add "Getting Started" section
  CONTRIBUTING.md
Labels: type: task, theme: documentation
