Repository junit-team/junit-framework, pull requests merged in 2025-08, with the labels that each got.

#4829 Prune stack traces up to test or lifecycle method
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-RC1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ExceptionUtils.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/StackTracePruningEngineExecutionListener.java
  platform-tests/src/test/java/org/junit/platform/StackTracePruningTests.java
Labels: type: bug

#4839 Order nested classes declared in same enclosing type deterministically
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-RC1.adoc
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/ReflectionSupport.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ReflectionUtilsTests.java
Labels: theme: ordering, theme: execution, component: Jupiter, component: Platform

#4813 Replace ISO control characters in display names
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/QuoteUtils.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/descriptor/AbstractTestDescriptor.java
  jupiter-tests/src/test/java/org/junit/jupiter/params/ParameterizedInvocationNameFormatterTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/params/ParameterizedTestIntegrationTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/descriptor/AbstractTestDescriptorTests.java
Labels: type: enhancement, theme: reporting, component: Jupiter, component: Platform, theme: suites, theme: parameterized tests

#4842 Inherit `@TestMethodOrder` and introduce `Default` orderer implementations
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-RC1.adoc
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/ClassOrderer.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/MethodOrderer.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/TestClassOrder.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/TestMethodOrder.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/ConfigurationParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/DefaultJupiterConfiguration.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/EnumConfigurationParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/FilteringConfigurationParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/config/InstantiatingConfigurationParameterConverter.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/AbstractOrderingVisitor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassOrderingVisitor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/DefaultMethodOrdererContext.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/MethodOrderingVisitor.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/OrderedClassTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/OrderedMethodTests.java
Labels: type: enhancement, theme: extensions, theme: programming model, component: Jupiter

#4864 Retain original `TestEngine` order after pruning
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-RC2.adoc
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/LauncherDiscoveryResult.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/LauncherDiscoveryResultTests.java
Labels: type: bug, theme: execution, component: Platform, backport-candidate
