Repository junit-team/junit-framework, pull requests merged in 2025-04, with the labels that each got.

#4449 Report discovery issue for missing `@Nested` annotations
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassSelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/predicates/TestClassPredicates.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/DiscoveryTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/predicates/TestClassPredicatesTests.java
Labels: type: enhancement, component: Jupiter, theme: discovery, theme: diagnostics

#4453 Introduce JFR events for discovery issues
  junit-platform-commons/src/module/org.junit.platform.commons/module-info.java
  junit-platform-jfr/src/main/java/org/junit/platform/jfr/FlightRecordingDiscoveryListener.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DiscoveryIssueNotifier.java
  platform-tests/src/test/java/org/junit/platform/jfr/FlightRecordingDiscoveryListenerIntegrationTests.java
  platform-tooling-support-tests/projects/jar-describe-module/junit-platform-commons.expected.txt
Labels: type: enhancement, component: Jupiter, theme: discovery, theme: diagnostics

#4456 Report discovery issues for invalid tag syntax
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/ClassBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/JupiterTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/MethodBasedTestDescriptor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/Validatable.java
  junit-jupiter-engine/src/nativeImage/initialize-at-build-time
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/DiscoveryTests.java
Labels: type: enhancement, component: Jupiter, theme: discovery, theme: diagnostics

#4459 Report discovery issues for blank `@SentenceFragments`
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/DisplayNameGenerator.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/DiscoveryIssue.java
  junit-platform-launcher/src/main/java/org/junit/platform/launcher/core/DiscoveryIssueCollector.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/DisplayNameGenerationTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/AbstractJupiterTestEngineTests.java
  platform-tests/src/test/java/org/junit/platform/launcher/core/DiscoveryIssueCollectorTests.java
Labels: type: enhancement, component: Jupiter, theme: discovery, theme: diagnostics

#4465 Document discovery issue reporting
  documentation/src/docs/asciidoc/link-attributes.adoc
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.0-M3.adoc
  documentation/src/docs/asciidoc/user-guide/advanced-topics/engines.adoc
  documentation/src/docs/asciidoc/user-guide/running-tests.adoc
Labels: theme: documentation, component: Jupiter, component: Platform, theme: discovery

#4477 Document that Streams returned from argument sources closed automatically
  documentation/src/docs/asciidoc/user-guide/writing-tests.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/AnnotationBasedArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/FieldSource.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/MethodSource.java
Labels: type: enhancement, theme: documentation, component: Jupiter, theme: parameterized tests
