Repository junit-team/junit-framework, pull requests merged in 2025-07, with the labels that each got.

#4700 Run non-inner `@Nested` classes to restore backward compatibility
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassSelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/predicates/TestClassPredicates.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/NestedTestClassesTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/StaticNestedTestCase.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/TopLevelNestedTestCase.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/DiscoveryTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/predicates/TestClassPredicatesTests.java
Labels: component: Jupiter, theme: discovery, type: regression

#4717 Add `TestTask::getTestDescriptor` method
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/HierarchicalTestExecutorService.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/hierarchical/NodeTestTask.java
Labels: type: enhancement, theme: execution, theme: concurrency, component: Platform

#4718 Improve message of discovery issues for ineffective `@Order` annotations
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.3.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassOrderingVisitor.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/MethodOrderingVisitor.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/OrderedClassTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/OrderedMethodTests.java
Labels: type: enhancement, theme: reporting, component: Jupiter, theme: diagnostics

#4699 Support `@Nullable` reasons in `ConditionEvaluationResult` APIs
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ConditionEvaluationResult.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/condition/ConditionEvaluationResultTests.java
Labels: type: enhancement, component: Jupiter

#4735 Provide cancellation support for Vintage engine
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-M2.adoc
  documentation/src/docs/asciidoc/user-guide/advanced-topics/launcher-api.adoc
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/VintageTestEngine.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/descriptor/RunnerTestDescriptor.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/CancellationTokenAwareRunNotifier.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/RunListenerAdapter.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/RunnerExecutor.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/TestRun.java
  junit-vintage-engine/src/main/java/org/junit/vintage/engine/execution/VintageExecutor.java
  junit-vintage-engine/src/test/java/org/junit/vintage/engine/VintageTestEngineExecutionTests.java
  junit-vintage-engine/src/testFixtures/java/org/junit/vintage/engine/samples/junit4/CancellingTestCase.java
Labels: type: enhancement, theme: execution, component: Vintage

#4738 Remove `java.*` packages from `Import-Package` headers in all jars
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.4.adoc
  gradle/plugins/common/src/main/kotlin/junitbuild.osgi-conventions.gradle.kts
Labels: type: enhancement, theme: build, component: Jupiter, component: Platform, component: Vintage

#4750 Allow `Stream<? extends TestTemplateInvocationContext>` return types
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-M2.adoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/TestTemplateInvocationContextProvider.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/RepeatedTestExtension.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedClassContext.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedClassExtension.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestContext.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ParameterizedTestExtension.java
Labels: type: enhancement, component: Jupiter

#4760 Add `computeIfAbsent` variants for non-nullable types to stores
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-M2.adoc
  documentation/src/test/java/example/FirstCustomEngine.java
  documentation/src/test/java/example/SecondCustomEngine.java
  documentation/src/test/java/example/extensions/HttpServerExtension.java
  documentation/src/test/java/example/session/GlobalSetupTeardownListener.java
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtensionContext.java
  junit-jupiter-api/src/testFixtures/java/org/junit/jupiter/api/fixtures/TrackLogRecords.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/execution/NamespaceAwareStore.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TempDirectory.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutExtension.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/extension/TimeoutInvocationFactory.java
  junit-jupiter-migrationsupport/src/main/java/org/junit/jupiter/migrationsupport/rules/ExpectedExceptionSupport.java
  junit-jupiter-migrationsupport/src/main/java/org/junit/jupiter/migrationsupport/rules/TestRuleSupport.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/ArgumentCountValidator.java
  junit-platform-engine/src/main/java/org/junit/platform/engine/support/store/NamespacedHierarchicalStore.java
  jupiter-tests/src/test/java/org/junit/jupiter/api/extension/Heavyweight.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/ExtensionContextTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/execution/ExtensionContextStoreConcurrencyTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/execution/ExtensionContextStoreTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/ExtensionContextExecutionTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/extension/TimeoutInvocationFactoryTests.java
  platform-tests/src/test/java/org/junit/platform/engine/support/store/NamespacedHierarchicalStoreTests.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/LocalMavenRepo.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/ManagedResource.java
  platform-tooling-support-tests/src/test/java/platform/tooling/support/tests/OutputAttachingExtension.java
Labels: type: enhancement, component: Platform, component: Vintage, component: Kotlin

#4778 Log only once per implementation type for `CloseableResource` types
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.4.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/AbstractExtensionContext.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/descriptor/ResourceAutoClosingTests.java
Labels: type: enhancement, theme: extensions, component: Jupiter
