Repository junit-team/junit-framework, pull requests merged in 2025-06, with the labels that each got.

#4603 Ensure `@Nested` classes are executed after sibling test methods
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.1.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/MethodOrderingVisitor.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/NestedTestClassesTests.java
Labels: component: Jupiter, theme: discovery, theme: suites, type: regression

#4611 Fix support for pre-5.13 `AnnotationBasedArgumentsProviders`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.1.adoc
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/support/AnnotationConsumerInitializer.java
  jupiter-tests/src/test/java/org/junit/jupiter/params/support/AnnotationConsumerInitializerTests.java
Labels: component: Jupiter, theme: parameterized tests, type: regression

#4626 chore: replace List<@Nullable Object> with List<?>
  junit-platform-commons/src/main/java/org/junit/platform/commons/support/AnnotationSupport.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ReflectionUtilsTests.java
Labels: type: task, component: Platform

#4606 Replace univocity-parsers with FastCSV
  NOTICE.md
  documentation/documentation.gradle.kts
  documentation/src/docs/asciidoc/release-notes/release-notes-6.0.0-M1.adoc
  gradle/base/dsl-extensions/src/main/kotlin/junitbuild/extensions/TaskExtensions.kt
  gradle/libs.versions.toml
  junit-jupiter-params/LICENSE-univocity-parsers.md
  junit-jupiter-params/junit-jupiter-params.gradle.kts
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileArgumentsProvider.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvFileSource.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvParserFactory.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvReaderFactory.java
  junit-jupiter-params/src/main/java/org/junit/jupiter/params/provider/CsvSource.java
  junit-platform-console-standalone/junit-platform-console-standalone.gradle.kts
  jupiter-tests/src/test/java/org/junit/jupiter/params/provider/CsvArgumentsProviderTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/params/provider/CsvFileArgumentsProviderTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/params/provider/MockCsvAnnotationBuilder.java
  platform-tooling-support-tests/src/archUnit/java/platform/tooling/support/tests/ArchUnitTests.java
Labels: component: Jupiter, theme: parameterized tests

#4666 Avoid discovery errors for inner classes not annotated with `@Nested`
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.2.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassSelectorResolver.java
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/predicates/TestClassPredicates.java
  junit-platform-commons/src/main/java/org/junit/platform/commons/util/ReflectionUtils.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/DiscoveryTests.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/discovery/predicates/TestClassPredicatesTests.java
  platform-tests/src/test/java/org/junit/platform/commons/util/ReflectionUtilsTests.java
Labels: type: bug, component: Jupiter, theme: discovery, theme: diagnostics

#4667 Avoid reporting discovery warnings for abstract inner classes with tests
  documentation/src/docs/asciidoc/release-notes/release-notes-5.13.2.adoc
  junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/discovery/ClassSelectorResolver.java
  jupiter-tests/src/test/java/org/junit/jupiter/engine/NestedTestClassesTests.java
Labels: type: bug, component: Jupiter, theme: discovery, theme: diagnostics

#4683 Fix typo in TempDirFactory javadoc
  junit-jupiter-api/src/main/java/org/junit/jupiter/api/io/TempDirFactory.java
Labels: theme: documentation, component: Jupiter
